# https://yamllint.readthedocs.io/en/stable/
---
extends: default

rules:
  comments:
    require-starting-space: false
    min-spaces-from-content: 1
  comments-indentation: disable
  line-length:
    max: 150
    allow-non-breakable-inline-mappings: true
  trailing-spaces: enable
  colons:
    max-spaces-before: 0
    max-spaces-after: -1
  document-end:
    present: true
  indentation:
    level: error
    indent-sequences: true  # consistent with ansible-lint
  truthy:
    level: error
    allowed-values:
      - 'true'
      - 'false'
    check-keys: false

...
